:root {
  --shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --mini-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

* {
  /* font-family: Myriad Pro; */
}

body {
  background-color: lightgreen;
}

.header {
  background-color: white;
  text-align: center;
  box-shadow: var(--shadow);
  margin-bottom: 25px;
  padding: 25px;
}

.header-title {
  margin-top: 0px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-nav-button {
  margin: 3px 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgreen;
  background-color: lightgreen;
  cursor: pointer;
  transition-duration: 0.4s;
}

.header-nav-button:hover {
  border-radius: 7px;
  border: 1px solid black;
}

.page-container {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.page {
  background-color: white;
  padding: 25px;
  max-width: 900px;
  /* min-width: 500px; */
  box-shadow: var(--mini-shadow);
}