:root {
  --shadow: 0 12px 18px rgba(0,0,0,0.25), 0 8px 9px rgba(0,0,0,0.22);
  --mini-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  --acrylicColor: rgba(255, 255, 255, 0.8);
}

* {
  /* font-family: Myriad Pro; */
}

body {
  background-color: lightgreen;
  overflow-y: scroll;
}

.justify {
  text-align: justify;
}

.header {
  background-color: white;
  text-align: center;
  box-shadow: var(--shadow);
  margin-bottom: 25px;
  padding: 10px;
}

.header-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-nav-button {
  margin: 3px 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgreen;
  background-color: lightgreen;
  cursor: pointer;
  transition-duration: 0.4s;
}

.header-nav-button:hover {
  border-radius: 7px;
  border: 1px solid black;
}

.ads-placeholder {
  height: 200px;
  background-color: lightskyblue;
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.enter-to-win {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: mediumblue;
  color: aliceblue;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
}

.page-container {
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 80vh;
  width: 100vw;
}

.page-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);

  background-color: white;
  padding: 25px;
  max-width: 900px;
  width: 80%;
  box-shadow: var(--mini-shadow);
  border-radius: 7px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 200ms;
}

/* Page by page */

.yt-page-main {
  display: flex;
  flex-direction: row;
}

.yt-page-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px solid lightgreen;
  margin-right: 10px;
}

.subscribe-button {
  padding: 30px;
  background-color: red;
  font-size: 32px;
  color: white;
  /* min-width: 400px; */
  /* width: 60%; */
}

/* ACRYLIC BACKGROUND EFFECT */

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .acrylic {
    backdrop-filter: blur(5px) saturate(150%);
    background-color: var(--acrylicColor) !important;
  }
}